body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
textarea {
    background-color: red;
    width: 1000px;
    height: 1000px;
}
h1{
    color: red;
}
h1:hover{

}